<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Mirror" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Mirror>
    <add key="source" value="<insert nuget URL here>" /> <!--  Example for url:  http://api.nuget.org/v3/index.json -->
    <add key="target" value="<insert nuget URL here>" /><!--  Example for url:  http://api.nuget.org/v3/index.json -->
    <add key="targetApiKey" value="key" />
  </Mirror>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>